body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', regular;
    /* background-color: rgb(244, 244, 244); */
}

main {
    justify-content: center;
}

header {
    background-color: #876ed8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: rgba(0, 0, 0, 0.396) 1px solid;
    margin-bottom: 2em;
}

span {
    color: #876ed8;
}

#cv-photo {
    border-radius: 100em;
    padding: 1em;
    margin-right: 3em;
}

#grand-div {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#formations,
#experiences {
    padding: 0 2%;
    color: black;
    margin-top: 0;
}

h2 {
    color: #876ed8;
    text-shadow: #876ed8 0.5px 0 1px;
}

#formations h2,
#experiences h2 {
    padding: 2%;
    /* margin: 10px; */
}

#formations {
    margin-right: 15%;
}

#experiences {
    margin-left: 15%;
}

.cv-element * {
    padding: 0;
    margin: 0;
}

.cv-element {
    padding-bottom: 1em;
}
.cv-element h5 {
    color: rgba(40, 40, 40, 0.999);
}

/* .competences {
    background-color: red;
} */

.competences h2 {
    display: flex;
    justify-content: center;
}

.competences h2,
.competences h4 {
    color: #876ed8;
}


#competences-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#competences-container h4 {
    padding-left: 40px;
}

aside h2 {
    display: flex;
    justify-content: center;
    color: #876ed8;
}

aside p {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    padding: 1em
}

footer a {
    padding: 0.5em;
    align-items: baseline;
}


a {
    text-decoration: none;
    padding: 3;
    color: black;
}

/* a:visited {
    color: #f3f3f3;
} */

/* a:focus {
    border-bottom: 1px solid;
    background: #bae498;
} */

a:hover {
    border-bottom: 1px solid;
    color: #f3f3f3;
}

.boxed {
     /* From https://css.glass */
     background: rgba(255, 255, 255, 0.3);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(6px);
     -webkit-backdrop-filter: blur(6px);
     border: 1px solid rgba(255, 255, 255, 0.75);
}

#hard-skills, #soft-skills, #langues {
justify-content: center;
padding: 60px;
padding-top: 0;
padding-bottom: 0;
}

